.fight-show-btn {
  right: 10px;
  top: 50px;
  position: absolute;
  font-size: 14px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.fight-wrap {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("./static/background.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left bottom;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fight-board-wrap {
  z-index: 1;
  background-image: url(./static/borderBackground.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  width: 350px;
  height: 550px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-board-wrap,
.compute-board-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
.user-board-wrap {
  margin-top: 50px;
}

.user-board-row {
  margin: 5px 0px;
  display: flex;
}
.board-col-item-buff {
  position: absolute;
  width: 100%;
  height: 0%;
  left: 0px;
  top: 0px;
  background-size: cover;
  transition: height 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.user-board-col-item-wrap {
  border: solid 1px #aaa;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  margin: 0px 10px;
  transition: height 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-board-col-item-wrap,
.compute-board-col-item-wrap {
  /* background-color: rgba(122, 122, 122, 0.7); */
}

.user-board-col-item-attack-wrap,
.compute-board-col-item-attack-wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 0%;
  display: block;
  background-size: 100% auto;
  z-index: 2;
  scale: 1.2;
  transition: height 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
  overflow: hidden;
}
.user-board-col-item-attack-wrap {
  top: calc(-100% - 10px);
}
.compute-board-col-item-attack-wrap {
  top: calc(100% + 10px);
}
.user-board-col-item {
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  border-radius: 5px;
}
.user-board-col-item img {
  width: 100%;
}

.compute-board-row {
  margin: 5px 0px;
  display: flex;
}

.compute-board-col-item-wrap {
  border: solid 1px #aaa;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compute-board-col-item {
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  border-radius: 5px;
  background-size: cover;
}
.compute-board-col-item img {
  width: 100%;
}
.attack-move-chess {
  transition: all 1s cubic-bezier(0.39, 0.58, 0.57, 1);
  position: fixed;
}
.attack-move-chess-speed-1 {
  transition: all 1s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.attack-move-chess-speed-2 {
  transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.attack-move-chess-speed-4 {
  transition: all 250ms cubic-bezier(0.39, 0.58, 0.57, 1);
}

.revice-move-chess {
  transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
  position: fixed;
}
.revice-move-chess-speed-1 {
  transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.revice-move-chess-speed-2 {
  transition: all 150ms cubic-bezier(0.39, 0.58, 0.57, 1);
}
.revice-move-chess-speed-4 {
  transition: all 75ms cubic-bezier(0.39, 0.58, 0.57, 1);
}

.compute-board-col-item-background,
.user-board-col-item-background,
.ready-board-col-item-background {
  width: 100%;
  height: 0%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
  background-color: rgba(255, 126, 126, 0.6);
  user-select: none;
  transition: all 0.2s linear;
}
/* 戰鼓者特效 */
.borard-col-batle-skill {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.fight-btn-wrap {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.speed-btn {
  position: sticky;
  width: 40px;
  height: 40px;
  background-size: cover;
}
.speed-btn-1 {
  background-image: url("./static/speed-1.png");
}
.speed-btn-2 {
  background-image: url("./static/speed-2.png");
}
.speed-btn-4 {
  background-image: url("./static/speed-3.png");
}
/* 共用class */
.hidden {
  display: none;
}
.background-transparent {
  background-color: transparent;
}
.dead-1 {
  animation: chessDead 2s forwards;
}
.dead-2 {
  animation: chessDead 1s forwards;
}
.dead-4 {
  animation: chessDead 0.5s forwards;
}

@keyframes chessDead {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
