body {
  margin: 0px;
  padding: 0px;
}

#app {
  margin: 0px auto;
  background-color: gray;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./static/background.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.prepare-wrap {
  width: 500px;
  /* background-color: white; */
  background-image: url("./static/userBoardBackground.png");
  background-size: cover;
  background-position: center bottom;
  border-radius: 10px;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

/* 棋盤 */
.board-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  /* background-color: #ddd; */
  background-color: rgba(200, 200, 200, 0.1);
  padding: 10px 0px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.stage-board-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.stage-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 150px;
  height: 120px;
  background-color: rgba(200, 200, 200, 0.1);
  padding: 10px 0px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.stage-board-row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.stage-board-row img {
  width: 40px;
  height: 40px;
  border: solid 1px #aaa;
  border-radius: 5px;
  margin: 1.5px;
}
.board-row {
  margin: 5px 0px;
  display: flex;
}

.board-col-item-wrap {
  /* background-color: white; */
  border: solid 1px #aaa;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  margin: 0px 10px;
}

.board-col-item {
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
}
.board-col-item img {
  width: 100%;
}

/* 玩家可用棋 */
.user-piece-wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 420px;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.user-piece-item-wrap {
  /* background-color: white; */
  border: solid 1px #aaa;
  border-radius: 5px;
  margin: 0px 3px;
  width: 60px;
  height: 60px;
}

.user-piece-item {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user-piece-item-background {
  width: 100%;
  height: 0%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
  background-color: rgba(255, 126, 126, 0.6);
  user-select: none;
  transition: all 0.2s linear;
}

.user-piece-item img {
  width: 100%;
}

/* 彈窗 */
.shop-wrap {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 0px;
}

.shop-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
}

.user-money-wrap {
  position: absolute;
  top: 10px;
  left: 5px;
  display: flex;
  font-size: 14px;
}
.question-btn {
  position: absolute;
  top: 10px;
  right: 70px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
  }
}

.question-btn img {
  width: 100%;
}
.user-money {
  line-height: 20px;
  width: 35px;
  /* text-align: right; */
  padding-left: 5px;
}

/* 商店 */
.shop-show-btn {
  right: 10px;
  top: 10px;
  position: absolute;
  font-size: 14px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.shop-piece {
  width: 380px;
  /* background-color: #ddd; */
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.shop-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("./static/close.png");
  background-size: cover;
}
.shop-refresh-btn {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("./static/update.png");
  background-size: cover;
}

.chess-item-wrap {
  /* background-color: white; */
  border: solid 1px #aaa;
  border-radius: 5px;
  margin: 3px 8px;
  width: 60px;
  height: 60px;
}

.chess-item {
  border: solid 0px;
  /* background-color: white; */
  box-sizing: border-box;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.chess-item img {
  width: 100%;
}
