.pop-up-card {
  z-index: 9999999;
  position: fixed;
  height: auto;
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
  background-color: Bisque;
}
.pop-up-card .title {
  width: 100%;
  position: relative;
  padding: 5px 0;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  color: white;
  background-color: DarkOrange;
}
.pop-up-card .content {
  padding: 15px;
  font-size: 16px;
  text-align: center;
}
.pop-up-card .button-wrap {
  margin: 0px auto;
  max-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-up-card .button {
  width: 50px;
  color: white;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.pop-up-card .button.cancel {
  width: 50px;
  color: white;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #615756;
  margin-left: 15px;
}
.pop-up-card .button.cancel.hidden {
  display: none;
}
.pop-up-card .title.win {
  color: white;
  background-color: #ff8d00;
}
.pop-up-card .button.win {
  color: white;
  background-color: #ff981a;
}
.pop-up-card .title.fail {
  color: white;
  background-color: #4b5156;
}
.pop-up-card .button.fail {
  color: white;
  background-color: #636b71;
}
.pop-up-card.fail {
  background-color: #eee;
}
.pop-up-card .title.error {
  color: white;
  background-color: #ad0b1e;
}
.pop-up-card .button.error {
  color: white;
  background-color: #9d0b06;
}
.pop-up-card.error {
  background-color: #eee;
}
.pop-up-card .title.success {
  color: white;
  background-color: #055682;
}
.pop-up-card .button.success {
  color: white;
  background-color: #044e77;
}
.pop-up-card.success {
  background-color: #eee;
}

/* 螢幕直立 */
.screen-vertical {
  position: fixed;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  background-color: #eee;
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
    sans-serif;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.loading {
  position: fixed;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  background-color: #eee;
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
    sans-serif;
}

.loading p {
  display: flex;
  align-items: flex-end;
}
.loading span {
  display: inline-block;
  width: 35px;
  margin-left: 5px;
  font-size: 32px;
}
