.pop-up-card {
  z-index: 9999999;
  position: fixed;
  height: auto;
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
  background-color: Bisque;
}
.pop-up-card.fail {
  background-color: #eee;
}
.pop-up-card .title {
  width: 100%;
  position: relative;
  padding: 5px 0;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  color: white;
  background-color: DarkOrange;
}
.pop-up-card .content {
  padding: 15px;
  font-size: 16px;
  text-align: center;
}
.pop-up-card .button-wrap {
  margin: 0px auto;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-up-card .button {
  width: 50px;
  color: white;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.pop-up-card .title.win {
  color: white;
  background-color: #ff8d00;
}
.pop-up-card .button.win {
  color: white;
  background-color: #ff981a;
}
.pop-up-card .title.fail {
  color: white;
  background-color: #4b5156;
}
.pop-up-card .button.fail {
  color: white;
  background-color: #636b71;
}
